body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: black;
}

#gameHeading {
    user-select: none; /* Disable text selection for the game heading */
}
